body {
	font-family: "Georgia"; 
	background-color: #f3ece2;  
}


h1{
	text-align: center;
	font-variant: small-caps; 
	font-size: 45px; 
}

h2{
	font-size: 24px;
	margin-left:5%;
	margin-right:5%;
	font-variant: small-caps; 

}

hr{
	width: 90%; 
	border-color: black;
}

ul{
	margin-top: -15px; 
	list-style-type: circle;
}

.section {
	text-align: left;
	margin-left:7.5%;
	margin-right:7.5%;

}

.centre{
	text-align: center;
}

.location{
	float: right;
	font-weight: bold;
	margin-left:10%
}

.date{
	float: right;
	font-style: italic;
	margin-top: -15px; 
	margin-left:10%
}